/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-form-block {
    text-align: center;

    .form-block-title .components-text {
        margin-bottom: 0;
    }

    .form-block-radio {
        margin-bottom: 50px;

        .components-flex {
            flex-direction: row;
            gap: calc(95px);
        }
    }

    .form-block-textarea {
        textarea {
            border-radius: 10px;
        }
    }

    .form-block-rating {
        margin-top: 50px;
    }
}